<!DOCTYPE html>
<html>

<head>

<title>Edit Contribution</title>

<style>

body{

font-family:Arial;

padding:30px;

background:#f4f7fc;

}

.card{

background:white;

padding:30px;

border-radius:15px;

max-width:500px;

margin:auto;

box-shadow:
0 0 10px rgba(
0,
0,
0,
0.1
);

}

input,
select{

width:100%;

padding:10px;

margin-bottom:15px;

}

button{

padding:12px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

}

</style>

</head>

<body>

<div class="card">

<h2>

Edit Contribution

</h2>

<form method="POST">

{% csrf_token %}

<input
type="number"
name="amount"
value="{{contribution.amount}}">

<select
name="status">

<option value="Paid">

Paid

</option>

<option value="Missed">

Missed

</option>

</select>

<button>

Save Changes

</button>

</form>

</div>

</body>

</html>